{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Ajout{% endblock %}

{% block main %}

    <h1>Ajouter un item à la liste</h1>

    {{ form_start(ideaForm) }}
    <div class="form-group">

        {{ form_label(ideaForm.author) }}
        <div class="input-group mb-3">
            {{ form_widget(ideaForm.author) }}
            {{ form_errors(ideaForm.author) }}
        </div>

        {{ form_label(ideaForm.title) }}
        <div class="input-group mb-3">
            {{ form_widget(ideaForm.title) }}
            {{ form_errors(ideaForm.title) }}
        </div>

        {{ form_label(ideaForm.description) }}
        <div class="input-group mb-3">
            {{ form_widget(ideaForm.description) }}
            {{ form_errors(ideaForm.description) }}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(ideaForm) }}

{% endblock %}
